# Core Dependencies
fastapi>=0.104.0,<1.0.0
uvicorn[standard]>=0.24.0,<1.0.0
python-multipart>=0.0.6,<1.0.0
pydantic>=2.0.0,<3.0.0
pydantic-settings>=2.6.2,<3.0.0
python-dotenv>=1.0.0,<2.0.0

# OpenRouter
openai
transformers
structlog


# Qwen VL Utils
qwen-vl-utils

# vllm
vllm
